sudo: false
language: r
dist: bionic
latex: false # Only because I'm manually installing TinyTex!

# Cache (i.e. persist across builds) some stuff that's not needed to be re-built
cache:
  packages: yes
  directories:
    - $HOME/bin       # Where webshot install phantomjs
    - $HOME/.fonts    # Where fonts are downloaded to & installed
    - $HOME/.TinyTex  # Aforementioned TinyTex dir
    - $TRAVIS_BUILD_DIR/_bookdown_files # Rendered images cache

addons:
  ssh_known_hosts: pearson.tadaa-data.de:54321

env:
  - BOOKDOWN_FORMAT="bookdown::gitbook"
  - BOOKDOWN_FORMAT="bookdown::epub_book"
  - BOOKDOWN_FORMAT="bookdown::pdf_book"

apt_packages:
  - fonts-oflb-asana-math # Asana Math font that may be not needed

before_install:
  - |
    # 1. Install TinyTex manually
    Rscript -e "install.packages('tinytex')"
    Rscript -e "tinytex::install_tinytex()"

    mkdir -p $HOME/.fonts

    # 2. Check if fonts are present in cached .fonts dir, if not, download + install
    if [ ! -e $HOME/.fonts/gyre.zip ]; then
     wget http://www.gust.org.pl/projects/e-foundry/tex-gyre/pagella/qpl2_501otf.zip -O $HOME/.fonts/gyre.zip
     unzip $HOME/.fonts/gyre.zip -d $HOME/.fonts/
    fi

    if [ ! -e $HOME/.fonts/gyreheros.zip ]; then
     wget http://www.gust.org.pl/projects/e-foundry/tex-gyre/heros/qhv2.004otf.zip -O $HOME/.fonts/gyreheros.zip
     unzip $HOME/.fonts/gyreheros.zip -d $HOME/.fonts/
    fi

    if [ ! -e $HOME/.fonts/fira.zip ]; then
      wget https://github.com/bBoxType/FiraSans/archive/master.zip -O $HOME/.fonts/fira.zip
      unzip ~/.fonts/fira.zip '*.ttf' -d $HOME/.fonts/
    fi

    # 3. Copy fontconfig for possibly maybe xelatex font issue with spaces in font names
    cp $HOME/.TinyTeX/texmf-var/fonts/conf/texlive-fontconfig.conf ~/.fonts.conf

    # 4. Update font cache for previously installed fonts (+ list fonts for debugging)
    fc-cache -fv
    fc-list

# Install phantomjs (needed for htmlwidgets => images in PDF)
before_script:
  - "[ -x \"$HOME/bin/phantomjs\" ] || Rscript -e \"webshot::install_phantomjs()\""
  - "Rscript -e \"remotes::install_github('hrbrmstr/firasans')\""

# Render the actual book
script:
  - "Rscript -e \"bookdown::render_book('index.Rmd', '$BOOKDOWN_FORMAT', envir = new.env())\""
#  - cp images/tadaa_thin_t.png book/images/
#  - "Rscript -e \"bookdown::render_book('index.Rmd', 'bookdown::epub_book', envir = new.env())\""
#  - "Rscript -e \"bookdown::render_book('index.Rmd', 'bookdown::pdf_book', envir = new.env())\""

after_success:
  - test $BOOKDOWN_FORMAT = "bookdown::gitbook" && cp images/tadaa_thin_t.png book/images/

after_failure:
  - cat r-intro.log

# Deploy to our server via rsync and ssh shenanigans
before_deploy:
  - openssl aes-256-cbc -K $encrypted_c75080516f68_key -iv $encrypted_c75080516f68_iv -in deploy_rsa.enc -out deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/deploy_rsa
  - ssh-add /tmp/deploy_rsa

deploy:
  provider: script
  skip_cleanup: true
  script: rsync -r --quiet $TRAVIS_BUILD_DIR/book travis@pearson.tadaa-data.de:54321:/srv/r-intro.tadaa-data.de/book2
  on:
    branch: master

notifications:
  email: false
